$blueprint-grid-column : 24
$blueprint-grid-width : 30px
$blueprint-grid-margin : 10px

@import blueprint

#wrapper
  +container

h1
  font-size: 3em
  font-weight: bold

li
  padding: 10px   

  .post_description
    display: block   
    width: 80%

.new_post_link
  float: right
  font-weight: bold
  font-size: 1.4em

.index_title
  font-size: 2.0em
  margin-right: 20px
  width: 80%
  display: block
  word-wrap: break-word

.post_content
  display: block   
  width: 100%
  
.post_show

  .post_title
    font-size: 2.2em
    font-weight: bold
    margin-right: 20px
    display: block
    word-wrap:break-word
    margin-top: 20px

  .post_time
    margin-bottom: 10px

  .post_content
    display: block   
    width: 100%
    font-size: 1.1em

  